USE [master]
GO
/****** Object:  Database [cargaarchivostest]    Script Date: 17/2/2021 17:46:05 ******/
CREATE DATABASE [cargaarchivostest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cargaarchivostest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cargaarchivostest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'cargaarchivostest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cargaarchivostest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cargaarchivostest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cargaarchivostest]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 17/2/2021 17:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Historia] [varchar](50) NULL,
	[Poder] [varchar](50) NULL,
	[Debilidad] [varchar](50) NULL,
	[Universo] [varchar](50) NULL,
	[Imagen] [varchar](max) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
